body{
	background-color:#DBDBDB;
	margin-left:5%;
	margin-right:5%;
	margin-top:6px;
	margin-bottom:6px;
	
}
#a1
{
	margin-left:inherit;
	margin-right:inherit;
	margin-top:inherit;
	margin-bottom:inherit;
	border:2px solid #a1a1a1;
	padding:10px 40px; 
	background:#FFF;
	border-radius:25px;
	width:1000px;
}
